.App {
    padding: 10% 10% 5% 10%;
    color: #fff;
}

.comment {
    color: #229977;
}

.new-keyword {
    color: #ff9f43;
}

.variable {
    color: #ff9f43;
}

.operator {
    color: #fdfdfd;
}

.class-name {
    color: #ff9f43;
}

.keyword {
    color: #005ba4;
}

.string {
    color: #036b26;
}

.property {
    color: #c52e2e;
}

a {
    color: #036b26;
    text-decoration: none;
}

.section-div {
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: left;
    align-items: flex-start;
    display: flex;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .App {
        padding: 5%;
    }
    .section-div {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
